@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import '_colorscheme';
@import '_include-media';

$debug-mode: false;

body {
  background-color: $bg;
  font-family: 'IBM Plex Sans', sans-serif;
  color: white;
}

a {
  color: #3273dc;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
  }
}

.include-media-test {
  @if $debug-mode {
    @include media('<=phone') {
      background-color: #def;

      &:before {
        content: '<=phone';
      }
    }

    @include media('>phone') {
      background-color: #abc;

      &:before {
        content: '>phone';
      }
    }

    @include media('>=815px', '<desktop') {
      background-color: #fed;

      &:before {
        content: '>=815px, <desktop';
      }
    }

    @include media('>=desktop') {
      background-color: #fab;

      &:before {
        content: '>=desktop';
      }
    }
    background-color: $bg;
    display: block;
  } @else {
    display: none;
  }
}
