@import '_colorscheme';
@import '_include-media';
$header-font-size: 3vh;

nav {
  @include media('>phone', '<tablet') {
    font-size: 3vh;
    flex-direction: column;
  }

  font-size: $header-font-size;
  display: flex;
  justify-content: space-between;
  background-color: $base-02;
  align-items: center;

  .title {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    color: white;
    margin: 1rem;

    a {
      color: white;

      &:hover {
        color: white;
        text-decoration: underline;
      }
    }
  }
  .links {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    color: $links-color;
    margin: 1rem;

    :not(:last-child) {
      border-right: $base-01 1px solid;
      padding-right: 0.5rem;
      margin-right: 0.5rem;
    }
  }
}
