$header-font-size: 4vh;

nav {
  display: flex;
  height: 4rem;
  background-color: yellow;
  align-items: center;

  .title {
    font-size: $header-font-size;
    margin-right: auto;
    background-color: blue;
  }
  .links {
    display: flex;
    font-size: $header-font-size;
    gap: 1rem;
    justify-content: right;
    background-color: green;
  }
}
