@import '_colorscheme';
@import '_include-media';

.container {
  width: 75%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 2vh;
  gap: 2rem;

  .song-header {
    display: flex;
    flex-direction: row;
    gap: 10rem;

    .song-meta {
      display: flex;
      flex-direction: column;
      width: 70%;

      .song-meta-title {
        font-size: 2rem;
        font-weight: bold;
        color: #fff;
        margin: 1rem;
      }
      .song-meta-desc {
        font-size: 1.2rem;
        color: #fff;
        margin: 1rem;
      }
    }

    .song-data {
      display: flex;
      flex-direction: column;
      width: 45%;
      gap: 2rem;

      .song-data-item {
        display: flex;
        flex-direction: column;
        color: #fff;
        align-content: center;
        padding-bottom: 1rem;

        background-color: $base-01;
        border-radius: 2rem;

        .song-data-item-header {
          font-size: 1.5rem;
          font-weight: bold;
          margin: 1rem;
        }
        .song-data-item-content {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.5rem;
          margin-left: 1rem;
          font-size: 1.2rem;

          iframe {
            border-radius: 1.5rem;
            margin-right: 1rem;
          }

          .song-data-item-image {
            width: 2rem;
            height: 2rem;
            margin-right: 0.2rem;
            border-radius: 50%;
            background-color: rgba(31, 36, 44, 1);
          }
        }
      }

      .song-data-labels {
        font-size: 1.2rem;
        color: #fff;
        margin: 1rem;
      }
    }
  }
}

// TODO: Maybe in the future. "Not today!"

@include media('>=815px', '<desktop') {
  .container {
    width: 100%;
  }
}

@include media('>phone', '<tablet') {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 2vh;
    gap: 2rem;
  }
}
